.swiper {
  width: 100%;
  &--width{
    overflow: visible;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.main{
  z-index: 1;
  &--padding{
    padding: 130px 0;
  }
  &--cabinet{
    background: #F5F7FF;
    padding: 24px 0;
    @media (min-width: 320px) and (max-width: 1199px) {
      padding: 12px 0;
    }
  }
}

.body--color{
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

