.desktop-links{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  grid-column-gap: 40px;
  padding-top: 2px;

}
.desktop-social{
  display: flex;
  flex-direction: column;
&__title{
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 15px;
}
}
.social-link{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  &__img{
    width: 20px;
    height: 20px;
  }
}
.social-buttons{
  display: grid;
  grid-row-gap: 10px;
}
.buttons-link{
  &__img{
    width: 102px;
    height: 30px;
  }
}
.footer{
  box-shadow: 0px -2px 30px rgba(58, 12, 163, 0.1);
  &--cabinet{
    background-color: #F5F5F5;
    padding: 40px  0 25px;
  }
}
.cabinet-footer{
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 16px;
  justify-content: center;
  align-items: center;
}
.footer-block{
  display: flex;
  align-items: center;
  border-right: 1px solid #000000;
  &__logo{
    font-weight: 300;
    font-size: 14px;
    color: #292929;
    margin-right: 10px;
  }
  &__year{
    font-weight: 300;
    font-size: 14px;
    color: #292929;
    margin-right: 16px;
  }
  &__icon{
    width: 16px;
    height: 16px;
    stroke: #000000;
    fill: none;
    margin-right: 5px;
  }
  &__text{
    font-weight: 300;
    font-size: 14px;
    color: #292929;
    margin-right: 16px;

  }
}